/node_modules
/public/hot
/public/storage
/public/images
/public/fonts
/public/css
/public/js
/public/a*
/public/f*
/public/ms*
/public/browserconfig.xml
/public/manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
