.article {
  border: solid 1px $primary-font-color;
  margin-top: 20px;

  .article-teaser-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .article-teaser {
    width: 98%;
    margin-left: 0.5%;
    padding-left: 15px;

    h4 {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}