.brand-logo {
  width: 90%;
  position: relative;
  left: 5%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.brand-logo-header-container {
  text-align: center;

  .brand-logo-header {
    width: 150px;
    margin: auto 0;
  }
}