.brand-logo {
  width: 90%;
  position: relative;
  left: 5%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.brand-logo-header-container {
  text-align: center;
  padding-top: 30px;

  .brand-logo-header {
    width: 150px;
    margin-top: -12px;
  }
}

.type-image {
  height: 200px;
  width: 90%;
  position: relative;
  left: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.explore-type-container {
  a:link, a:hover {
    text-decoration: none;
  }
}