a.cta-button {
  color: white;
  background-color: $primary-component-color;
  padding: 10px 30px;
  border-radius: 2.5px;
}

.big-cta-button {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-radius: 2.5px;
  background-color: $primary-component-color;
  margin-top: 22px;
  margin-bottom: 11px;

  a, span{
    color: white;
    font-size: 16px;
  }
}

.btn-primary {
  background-color: $primary-component-color;
  color: #fff;
  border:none;

  &:hover {
    background-color: $primary-component-color;
    color: #fff;
  }
}

.btn-link {
  color: $primary-component-color;
}

.guitar-type-button {
  width: 80%;
  padding: 10px 0;
  margin: 25px 0 50px 0;
  margin-left: 10%;
  text-align: center;
  border-radius: 2.5px;
  background-color: $primary-component-color;

  span {
    color: #fff;
    font-weight: 600;
  }
}