a.cta-button {
  color: white;
  background-color: $primary-component-color;
  padding: 10px 30px;
  border-radius: 2.5px;
  font-weight: 600;
  margin: 0 5px;

  &:hover, &:link, &:visited, &active {
    text-decoration: none;
  }
}

.cta-button.red {
  background-color: #d64242;
}

.cta-button.green {
  background-color: #169c26;
}

.big-cta-button {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-radius: 2.5px;
  background-color: $primary-component-color;
  margin-top: 22px;
  margin-bottom: 11px;

  a, span{
    color: white;
    font-size: 16px;
    font-weight: 600;
  }

  a {
    &:hover, &:link, &:visited, &active {
      text-decoration: none;
    }
  }
}

.btn-primary {
  &.red {
    background-color: #d64242;

    &:hover {
      background-color: #d64242;
    }
  }
}

.profile-button-container {
  text-align: center;
  margin-top: 50px;

  a {
    margin: 0 10px;
  }

  .profile-button {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: white;
    text-align: center;

    i {
      position: relative;
      top: 22px;
      left: 2px;
    }

    &#edit-profile-button {
      padding: 23px 26px;
    }

    &.red {
      background-color: #d64242;
    }

    &.blue {
      background-color: $primary-component-color;
    }

    &:hover {
      opacity: 0.8;
    }
    
    a:link, a:hover, a:visited, a:active{
      color: white;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.btn-primary {
  background-color: $primary-component-color;
  color: #fff;
  border:none;

  &:hover {
    background-color: $primary-component-color;
    color: #fff;
  }
}

.btn-link {
  color: $primary-component-color;
  text-align: right;
  margin: 10px 0 -10px 0;
}
