.chat-container {
  background-color: $secondary-bg-color;
  padding: 25px;
  margin: 20px 0;
  box-shadow: $drop-shadow;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.chat {
  overflow-y: scroll;
  height: 350px;
}

.chat-form {
  input {
    box-shadow: $drop-shadow;
    border-radius: 0;
    border: none;
    height: 52px;
  }

  button {
    box-shadow: $drop-shadow;
    padding: 15px 60px;
    border-radius: 0;
  }
}