footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;

  .footer-item-left a span {
    margin: 0 7.5px;
    float: left;
  }

  .footer-item-center {
    text-align: center;

    i {
      margin: 0 10px;
    }
  }

  .footer-item-right span {
    float: right;
  }

  i {
    color: #fff;
  }

  .footer-item {
    margin: 45px 0;

    span {
      color: #fff;
      font-size: 18px;
    }
  }
}

.locale {
  font-weight: 300;
}

.selected-locale {
  font-weight: 800;
}

.footer-full-bg footer {
  background-color: rgba(0, 0, 0, 0.4);
}