.slick-main {
  .slick-item {
    text-align: center;
    padding-bottom: 10px;

    span {
      position: relative;
    }

    img {
      height: 300px;
      margin: 10px;
    }
  }
}

.slick-related {
  width: 95%;
  margin-left: 2.5%;

  a:link, a:visited, a:hover {
    color: $primary-font-color;
  }

  .slick-item {
    text-align: center;
    background-color: #fff;
    box-shadow: $strong-drop-shadow;
    padding: 20px;
    margin: 5px 10px;

    span {
      position: relative;
    }

    img {
      height: 150px;
      margin: 10px;
    }
  }

  .slick-prev:before, .slick-next:before {
    color: $primary-font-color;
  }
}

.guitar-link {
  //background-color: #2359bd;
  font-size: 18px;
}

.guitar-type-container {
  margin-top: 30px;

  .guitar-type {
    background-color: $primary-component-color;
    padding: 5px 15px;
    border-radius: 2.5px;
    color: #fff;
    margin-left: 2.5px;
  }
}

.guitar-description-container {
  margin: 40px 0 20px 0;
}

.guitar-brand-logo {
  width: 80px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}