.navbar-nav {
  margin: 5px 0;

  li {
    margin: 5px 75px 5px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;

    a {
      padding-top: 5px;
      padding-bottom: 5px;
      color: $primary-font-color;
      text-transform: uppercase;
      font-weight: 500;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-highlighted {
  border: solid 1px $primary-font-color;
  border-radius: 2.5px;

  a {
    padding: 0 15px;

    &:hover {
      color: $primary-font-color !important;
    }
  }
}

.custom-navbar-top {
  background-color: $primary-font-color;
  margin: 0;

  .custom-navbar-title {
    font-weight: 600;
  }

  li {
    display: inline-block;
    margin: 5px 15px;

    a {
      color: #fff;
    }
  }
}

.site-logo {
  float:left;
  position: relative;
  top: 8px;
  left: 48.5%;
  width: 3%;
}

#search-submit-mobile {
  display: none;
}

// Media queries
@media (max-width: 768px) {
  .navbar-nav {
    margin: 15px -15px;
  }

  .navbar-collapse {
    margin-top: 50px;

    .nav-highlighted {
      border: none;
    }
  }

  .custom-navbar-top {
    padding: 0;

    li {
      width: 100%;
      padding: 10px 0 10px 20px;
      margin: 0;
      border-bottom: solid 1px #fff;
    }
  }
}

// @todo:: clean up this mess
@media (min-width: 769px) and (max-width: 992px) {
  .site-logo {
    width: 4%;
    left: 48%;
  }
}

@media (min-width: 551px) and (max-width: 768px) {
  .site-logo {
    width: 5%;
    left: 47.5%;
  }
}

@media (min-width: 401px) and (max-width: 550px) {
  .site-logo {
    width: 7%;
    left: 45%;
  }
}

@media (max-width: 400px) {
  .site-logo {
    width: 10%;
    left: 45%;
  }
}