.navbar-nav {
  margin: 5px 0;

  li {
    margin: 5px 75px 5px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;

    a {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-highlighted {
  border: solid 1px $primary-font-color;
  border-radius: 2.5px;

  a {
    padding: 0 15px;

    &:hover {
      color: $primary-font-color !important;
    }
  }
}

.navbar-default .navbar-nav > li > a {
  color: $primary-font-color;
  text-transform: uppercase;
  font-weight: 500;
}

.custom-navbar-top {
  background-color: $primary-font-color;
  margin: 0;

  .custom-navbar-title {
    font-weight: 600;
  }

  li {
    display: inline-block;
    margin: 5px 15px;

    a {
      color: #fff;
    }
  }
}

#search-submit-mobile {
  display: none;
}

.site-logo {
  float:left;
  position: relative;
  top: 6.5px;
  left: 45%;
  height: 37.5px;
  width: 37.5px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .site-logo {
    height: 35px;
    width: 35px;
  }

  .navbar-nav {
    margin: 15px -15px;

  }

  .navbar-collapse {
    margin-top: 30px;
    padding-left: 0;
    border: none;

    .nav-highlighted {
      border: none;
    }
  }
}