html {
  position: relative;
  min-height: 100%;
}

body {
  // Footer height
  margin-bottom: 120px;
  min-height: 100%;
}

.row-padding-top {
  padding-top: 50px;
}

.row-no-margin {
  margin: 0;
}

.cta-item {
  margin-top: 50px;
  text-align: center;
  width: 90%;
  margin-left: 5%;

  p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

h2 {
  text-align: center;
  padding: 50px 0;
}

a.cta-button {
  color: white;
  background-color: $primary-component-color;
  padding: 10px 30px;
  border-radius: 2.5px;
}

.big-cta-button {
  text-align: center;

  a {
    color: white;
    background-color: $primary-component-color;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2.5px;
  }
}

.content {
  // Footer height
  padding-bottom: 120px;

}

.full-page-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: cover;
  width: 100%;
  z-index: -10;
}

.authentication-block {
  margin-top: 25%;
}

.btn-primary {
  background-color: $primary-component-color;
  color: #fff;
  border:none;

  &:hover {
    background-color: $primary-component-color;
    color: #fff;
  }
}

.btn-link {
  color: $primary-component-color;
}

.no-bg-color {
  background-color: inherit;
}