html {
  position: relative;
  min-height: 100%;
}

body {
  // Footer height
  margin-bottom: 120px;
  min-height: 100%;
}

.cta-item {
  margin-top: 50px;
  text-align: center;
  width: 90%;
  margin-left: 5%;

  p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.no-image {
  position: relative;
  top: 60px;
  font-size: 18px;
}

.content {
  // Navigation height
  padding-top: 50px;

  // Footer height
  padding-bottom: 120px;
}

.full-page-bg {
  position: absolute;
  top: 54px;
  bottom: 120px;
  background-size: cover;
  width: 100%;
  z-index: -10;
  opacity: 0.9;
  filter: brightness(60%);
}

.heading {
  margin-top: 40px;
  margin-bottom: 20px;

  h1 {
    float: left;
  }

  .icon-text {
    font-size: 16px;
    position: relative;
    top: 30px;
    margin-left: 35px;
    float: right;

    span {
      margin-right: 10px;
    }
  }
}

.icon-full {
  display: inherit;
}

.icon-responsive {
  display: none;
}

.dashboard-content {
  background-color: $secondary-bg-color;
  padding: 20px;
  margin-top: 20px;
  box-shadow: $drop-shadow;

  h3 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.dashboard-min-height {
  min-height: 375px;
}

.col-container {
  background-color: $secondary-bg-color;
  border: solid 1px $border-color;
  padding: 25px 25px;
  margin-bottom: 75px;
}

.notification-close {
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: $primary-font-color;

  &:hover {
    background-color: #e8eaeb;
  }

  i {
    position: relative;
    left: 5px;
    top: -1px;
  }
}

.notification {
  position: fixed;
  right: 10px;
  bottom: 0;
  width: 400px;
  z-index: 998;

  .chat-notification {
    position: relative;
    height: 115px;
    margin-bottom: 15px;
    border-right: solid 5px $primary-component-color;
    background-color: #fff;
    box-shadow: $drop-shadow;

    span {
      color: $primary-font-color;
    }

    .notification-user {
      float:left;
      width: 30%;
      height: 100%;

      .profile-picture {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
      }
    }

    .notification-content {
      float: left;
      padding: 5px 17.5px;
      margin-top: 5px;
      width: 70%;

      .notification-channel-name {
        color: #315c88;
        font-weight: bold;
      }

      strong:hover {
        color: inherit;
      }

      span {
        padding-top: 10px;
        font-size: 14px;
      }
    }
  }
}

.invite-response {
  text-align: center;
}

.contact-container {
  background-color: $primary-component-color;
  color: #fff;
  padding-bottom: 50px;

  .btn-primary {
    background-color: #fff;
    color: $primary-component-color;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      background-color: #fff;
      color: $primary-component-color;
      text-transform: uppercase;
    }
  }
}

#range-min {
  float: left;
}

#range-max {
  float: right;
}

#range-slider {
  text-align: center;
}

.counter {
  padding-bottom: 2.5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #d64242;
  color: #fff;
  border-radius: 2.5px;
}

.social-media-left {
  float: left;
}

.social-media-right {
  float: right;
}

.no-padding {
  padding: 0;
}

.time-ago {
  color: grey;
}

.alert-margin {
  margin-top: 40px;
}

.exp-window {
  position: fixed;
  box-shadow: $strong-drop-shadow;
  width: 15%;
  left: 42.5%;
  top: -90px;
  background-color: #4f7aca;
  color: #fff;
  z-index: 10;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding: 14px 10px;

  &:hover {
    cursor: pointer;
  }
}

.level-window {
  position: fixed;
  box-shadow: $strong-drop-shadow;
  width: 60%;
  left: 20%;
  top: -90px;
  background-color: #4f7aca;
  color: #fff;
  z-index: 10;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding: 14px 10px;

  &:hover {
    cursor: pointer;
  }
}

#progressbar .ui-progressbar-value {
  background-color: #82a8ec;
}

#progressbar {
  text-align: center;
}

.ui-progressbar {
  .ui-progressbar-value {
    margin: 0;
  }

  .progress-label {
    font-weight: bold;
    width: 100%;
    float: left;
    line-height: 200%;
  }

  .ui-widget-header {
    border: 0 solid #dddddd;
  }
}

@media (max-width: 992px) {
  .level-window {
    font-size: 16px;
  }

  .exp-window {
    font-size: 16px;
    width: 25%;
    left: 37.5%;
  }

  .message-teaser-container {
    text-align: center;

    .invite {
      text-align: left;
    }

    .invite-response {
      display: inline-block;
      margin-top: 20px;
    }
  }

  .social-media-left {
    width: 100%;
    float: none;
    text-align: center;
  }

  .social-media-right {
    margin-top: 10px;
    width: 100%;
    float: none;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .icon-full {
    display: none;
  }

  .icon-responsive {
    display: inherit;
  }

  h1 {
    font-size: 24px;
    margin-top: 28px;
  }

  .heading h1 {
    width: 80%;
  }

  .exp-window {
    font-size: 16px;
    width: 30%;
    left: 35%;
  }

  .dashboard-content {
    h3 {
      font-size: 20px;
    }
  }
}

@media (max-width: 415px) {
  .notification {
    width: 95%;
  }
}